body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #fbffcf;
      color: #333;
        padding-top: 12vh;
    }

    @media (min-width: 950px) {
      body{
        padding-top: 18vh;
      }
      
    }

    .navbar{
      padding: 1rem;
      background-color: #fbffcf  !important;
      border-bottom:solid #205824 2px;
      /*position: fixed;
      top: 0;
      left: 0;
      z-index: 1001; 
      box-shadow: 0 2px 4px rgba(0,0,0,0.05);

      color: #160505;
      text-align: center;
      z-index: 1000;
      background-color: #fbffcf;
      border-bottom:solid #205824 2px;
      
      width: 100%;
      height:13vh */
    }
    .nav-link{
      font-family: 'Oswald', sans-serif;
      font-size: 2rem;
      color: #1b5e20;
    }
    .nav-link:hover{
      font-family: 'Oswald', sans-serif;
      font-size: 2rem;
      color: #1b5e20;
      border-bottom:solid #205824 2px;

    }
    /*.nav-item{
      background-color: #e6f7e6;
      margin-left:2rem;
      border-radius: 10px 10px 10px 10px;
    }*/

    .hero {
      color: #fff;
      text-align: center;
      font-weight: bold;
    }
    
    .sezione{      
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .descrizione {
        border-radius: 10px;
        color: #fff;
        text-align: center;
        background-size:cover;
        
        overflow: hidden;
    }
    .vetrina-immagine-contatti{
      
      box-sizing: border-box;
      padding: 1rem;
          background-image: url("../icons/Background-image.svg");
        border-radius: 10px  10px 0px 0px;
        background-size:100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
    }
    .vetrina-testo{
      padding: 1rem;  
      background-color: rgb(255, 255, 255);
      color:#348F3A;
      font-weight: bold;
        border-radius: 0px  0px 10px 10px;
      font-size: large;
      width: 100%;
      box-sizing: border-box;
    }
    .subtitle{

      font-weight: bold;
    }
    
    .carousel-custom{
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 1rem;
    }


    .card {
      flex: 0 0 auto;
      width: 300px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
      scroll-snap-align: center;
    }
    .card:hover {
      flex: 0 0 auto;
      background-color: #d2cfcf;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      scroll-snap-align: center;
    }
    .card-arrow{
      display: none;
    }
    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .card .card-content {
      padding: 1rem;
    }
    footer {
      text-align: center;
      background-color: #222;
      color: #fff;
      padding: 1rem;
    }

    .whatsapp-button-absolute{
      position:fixed;
      right: 0 !important;
      left: auto !important;
      bottom: 20px;
      z-index: 1000;
      margin-right: 1rem !important;
      background-image: url("../icons/whatsapp-icon.svg");
        flex: 0 1 auto;
        align-self: flex-end;
        width:7vw;
        height:7vw;
          background-size:100% 100%;
          -o-background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          pointer-events: auto;
    }
    /*
    position:fixed;
      right: 0px;
      bottom: 20px;
      z-index: 1000;
        background-size:100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        pointer-events: auto;
        *7 */
    a.whatsapp {
        padding: 0.5rem;
        background-color: #25D366;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 1rem;
    }
    a.contatti {
        margin-left: 1rem;
      padding: 0.5rem;
      background-color: #016dfc;
      color: #fff;
      border-radius: 5px;
      font-weight: bold;
    }

    .img-centrata {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    }

    
    .contenitore-imagine {
    width: 30%;
    height: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .img-principale{
      max-width: 34vw;
      max-height: 34vw;
    }
    .titolo-shiny {
      font-family: 'Oswald', sans-serif;
      font-size: 4rem;
      color: #1b5e20; 
      margin-bottom: 0px;
    }
    .sottotitolo-shiny {
      font-family: 'Oswald', sans-serif;
      font-size: 2rem;
      color: #1b5e20;
    }
    .testo-shiny{
      color: #1b5e20;
    }
    
    .seconda-vetrina-foto{
      width: 30vw
    }

    .terza-vetrina{
      padding-right:10vw; padding-left: 10vw;
    }

    @media (max-width: 950px) {
      .body{
        padding-top: 5vh;
      }
      .img-principale{
        max-width: 70vw;
        max-height: 70vw;
      }
      .navbar{
      display:flex; 
       justify-content: center;
      }
      .hero {
        color: #fff;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
      }
      .seconda-vetrina-foto{
        width:  70vw
      }
      .card-arrow{
        display: block;
      }
      /*.sottotitolo-shiny {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        color: #1b5e20;
        display: none;
      }*/
      
      
      .card {
        width: 250px;
      }

      .whatsapp-button-absolute{
        background-image: url("../icons/whatsapp-icon.svg");
        flex: 0 1 auto;
        align-self: flex-end;
        width:20vw;
        height:20vw;
        margin-bottom: 5vh;
        margin-right: 1rem !important;
          background-size:100% 100%;
          -o-background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          pointer-events: auto;
      }

    }

      .vetrina-immagine-contatti{
      
      box-sizing: border-box;
        padding: 1rem;
        border-radius: 10px  10px 0px 0px;
        background-color: #2e7d32;
        background-size:100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
    }
      
    

    @font-face {
    font-family: 'SuperShiny';
    src: url('../fonts/super-shiny-font/SuperShiny-0v0rG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    


